## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt


#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-05-09 15:40:55.896751: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'], inplace=True)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
STATUS                  2
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500
#create a Boolean mask
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at NAME value counts for binning
application_df['NAME'].value_counts()

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `names_to_replace`
name_cutoff = 100
#create a Boolean mask
names_to_replace = application_df['NAME'].value_counts()[application_df['NAME'].value_counts() < name_cutoff].index.tolist()

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# create a Boolean mask
application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_cutoff = 1000
#create a Boolean mask
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < class_cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_cols = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()

dummies_application_df = pd.concat([pd.get_dummies(application_df[categorical_cols]),
    application_df.drop(categorical_cols, axis=1)], axis=1)

dummies_application_df

,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,NAME_HONOR SOCIETY OF PHI KAPPA PHI,NAME_INTERNATIONAL ASSOCIATION OF LIONS CLUBS,NAME_INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION,...,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,STATUS,ASK_AMT,IS_SUCCESSFUL
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,5000,1
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,108590,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,5000,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,1,6692,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,5000,0
34295,0,0,0,0,0,0,0,0,1,0,...,0,0,1,1,0,0,0,1,5000,0
34296,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,5000,0
34297,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,5000,1
34298,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,36500179,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = dummies_application_df.IS_SUCCESSFUL
X = dummies_application_df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# ReLU - Rectified Linear Unit 
nn.add(tf.keras.layers.Dense(units=64, activation='relu', input_dim=63))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation='swish'))

#additional layer
nn.add(tf.keras.layers.Dense(units=24, activation='tanh'))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=16, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                4096

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 24)                792

 dense_3 (Dense)             (None, 16)                400

 dense_4 (Dense)             (None, 1)                 17

=================================================================
Total params: 7,385
Trainable params: 7,385
Non-trainable params: 0
_________________________________________________________________

2023-05-09 15:41:33.218642: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [15]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=["accuracy"])

In [16]:
# Train the model
nn_fit = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
751/751 [==============================] - 2s 1ms/step - loss: 0.5172 - accuracy: 0.7409
Epoch 2/100
751/751 [==============================] - 1s 1ms/step - loss: 0.5016 - accuracy: 0.7498
Epoch 3/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4995 - accuracy: 0.7510
Epoch 4/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4980 - accuracy: 0.7521
Epoch 5/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4974 - accuracy: 0.7518
Epoch 6/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4968 - accuracy: 0.7528
Epoch 7/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4963 - accuracy: 0.7538
Epoch 8/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4959 - accuracy: 0.7543
Epoch 9/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4950 - accuracy: 0.7527
Epoch 10/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4947 - accuracy: 0.7525
Epoch 11/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4939 - accuracy: 0.7550
Epoch 12/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4939 - accuracy: 0.7542
Epoch 13/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4935 - accuracy: 0.7538
Epoch 14/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4928 - accuracy: 0.7543
Epoch 15/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4929 - accuracy: 0.7543
Epoch 16/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4926 - accuracy: 0.7543
Epoch 17/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4916 - accuracy: 0.7556
Epoch 18/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4920 - accuracy: 0.7546
Epoch 19/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4907 - accuracy: 0.7552
Epoch 20/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4909 - accuracy: 0.7560
Epoch 21/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4911 - accuracy: 0.7569
Epoch 22/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4906 - accuracy: 0.7570
Epoch 23/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4902 - accuracy: 0.7557
Epoch 24/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4901 - accuracy: 0.7560
Epoch 25/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4897 - accuracy: 0.7574
Epoch 26/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4895 - accuracy: 0.7568
Epoch 27/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4889 - accuracy: 0.7575
Epoch 28/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4891 - accuracy: 0.7565
Epoch 29/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4888 - accuracy: 0.7574
Epoch 30/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4883 - accuracy: 0.7577
Epoch 31/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4887 - accuracy: 0.7577
Epoch 32/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4878 - accuracy: 0.7573
Epoch 33/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4880 - accuracy: 0.7570
Epoch 34/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4874 - accuracy: 0.7575
Epoch 35/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4872 - accuracy: 0.7581
Epoch 36/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4875 - accuracy: 0.7585
Epoch 37/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4873 - accuracy: 0.7603
Epoch 38/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4871 - accuracy: 0.7586
Epoch 39/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4870 - accuracy: 0.7587
Epoch 40/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4869 - accuracy: 0.7593
Epoch 41/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4866 - accuracy: 0.7597
Epoch 42/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4869 - accuracy: 0.7579
Epoch 43/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4867 - accuracy: 0.7593
Epoch 44/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4862 - accuracy: 0.7588
Epoch 45/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4863 - accuracy: 0.7587
Epoch 46/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4863 - accuracy: 0.7590
Epoch 47/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4861 - accuracy: 0.7593
Epoch 48/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4861 - accuracy: 0.7592
Epoch 49/100
751/751 [==============================] - 1s 2ms/step - loss: 0.4860 - accuracy: 0.7600
Epoch 50/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4857 - accuracy: 0.7595
Epoch 51/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4859 - accuracy: 0.7596
Epoch 52/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4853 - accuracy: 0.7591
Epoch 53/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4854 - accuracy: 0.7602
Epoch 54/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4855 - accuracy: 0.7601
Epoch 55/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4851 - accuracy: 0.7593
Epoch 56/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4854 - accuracy: 0.7595
Epoch 57/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4848 - accuracy: 0.7604
Epoch 58/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4853 - accuracy: 0.7601
Epoch 59/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4856 - accuracy: 0.7597
Epoch 60/100
751/751 [==============================] - 2s 2ms/step - loss: 0.4847 - accuracy: 0.7596
Epoch 61/100
751/751 [==============================] - 1s 2ms/step - loss: 0.4851 - accuracy: 0.7616
Epoch 62/100
751/751 [==============================] - 1s 2ms/step - loss: 0.4852 - accuracy: 0.7595
Epoch 63/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4845 - accuracy: 0.7604
Epoch 64/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4849 - accuracy: 0.7595
Epoch 65/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4847 - accuracy: 0.7600
Epoch 66/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4850 - accuracy: 0.7605
Epoch 67/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4849 - accuracy: 0.7593
Epoch 68/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4847 - accuracy: 0.7590
Epoch 69/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4846 - accuracy: 0.7591
Epoch 70/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4846 - accuracy: 0.7605
Epoch 71/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4845 - accuracy: 0.7601
Epoch 72/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4843 - accuracy: 0.7607
Epoch 73/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4841 - accuracy: 0.7604
Epoch 74/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4838 - accuracy: 0.7603
Epoch 75/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4840 - accuracy: 0.7609
Epoch 76/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4842 - accuracy: 0.7607
Epoch 77/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4849 - accuracy: 0.7603
Epoch 78/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4839 - accuracy: 0.7607
Epoch 79/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4843 - accuracy: 0.7603
Epoch 80/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4838 - accuracy: 0.7608
Epoch 81/100

751/751 [==============================] - 1s 1ms/step - loss: 0.4845 - accuracy: 0.7608
Epoch 82/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4837 - accuracy: 0.7605
Epoch 83/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4837 - accuracy: 0.7604
Epoch 84/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4838 - accuracy: 0.7605
Epoch 85/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4839 - accuracy: 0.7603
Epoch 86/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4837 - accuracy: 0.7605
Epoch 87/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4834 - accuracy: 0.7608
Epoch 88/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4838 - accuracy: 0.7605
Epoch 89/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4834 - accuracy: 0.7610
Epoch 90/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4836 - accuracy: 0.7609
Epoch 91/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4838 - accuracy: 0.7606
Epoch 92/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4836 - accuracy: 0.7615
Epoch 93/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4833 - accuracy: 0.7605
Epoch 94/100
751/751 [==============================] - 1s 2ms/step - loss: 0.4836 - accuracy: 0.7605
Epoch 95/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4838 - accuracy: 0.7613
Epoch 96/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4833 - accuracy: 0.7610
Epoch 97/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4829 - accuracy: 0.7615
Epoch 98/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4828 - accuracy: 0.7613
Epoch 99/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4833 - accuracy: 0.7612
Epoch 100/100
751/751 [==============================] - 1s 1ms/step - loss: 0.4839 - accuracy: 0.7566

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

322/322 - 0s - loss: 0.5001 - accuracy: 0.7512 - 326ms/epoch - 1ms/step
Loss: 0.5001388192176819, Accuracy: 0.7512147426605225

In [20]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')